@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please let us know bellow wether you will attend the event.</p>
</div>

<partial name="/Views/Shared/_RsvpFormPartial.cshtml" />